$darkmode: True;
$transparent: False;
$primary_paletteKeyColor: #5578AA;
$secondary_paletteKeyColor: #6D788A;
$tertiary_paletteKeyColor: #876E90;
$neutral_paletteKeyColor: #75777D;
$neutral_variant_paletteKeyColor: #74777F;
$background: #111318;
$onBackground: #E1E2E9;
$surface: #111318;
$surfaceDim: #111318;
$surfaceBright: #37393E;
$surfaceContainerLowest: #0C0E13;
$surfaceContainerLow: #191C20;
$surfaceContainer: #1D2024;
$surfaceContainerHigh: #282A2F;
$surfaceContainerHighest: #32353A;
$onSurface: #E1E2E9;
$surfaceVariant: #43474E;
$onSurfaceVariant: #C3C6CF;
$inverseSurface: #E1E2E9;
$inverseOnSurface: #2E3035;
$outline: #8D9199;
$outlineVariant: #43474E;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #A5C8FF;
$primary: #A5C8FF;
$onPrimary: #00315E;
$primaryContainer: #224876;
$onPrimaryContainer: #D4E3FF;
$inversePrimary: #3C6090;
$secondary: #BCC7DC;
$onSecondary: #273141;
$secondaryContainer: #3F4A5B;
$onSecondaryContainer: #D8E3F8;
$tertiary: #DABDE2;
$onTertiary: #3D2946;
$tertiaryContainer: #A288AB;
$onTertiaryContainer: #000000;
$error: #FFB4AB;
$onError: #690005;
$errorContainer: #93000A;
$onErrorContainer: #FFDAD6;
$primaryFixed: #D4E3FF;
$primaryFixedDim: #A5C8FF;
$onPrimaryFixed: #001C3A;
$onPrimaryFixedVariant: #224876;
$secondaryFixed: #D8E3F8;
$secondaryFixedDim: #BCC7DC;
$onSecondaryFixed: #111C2B;
$onSecondaryFixedVariant: #3D4758;
$tertiaryFixed: #F7D8FF;
$tertiaryFixedDim: #DABDE2;
$onTertiaryFixed: #271430;
$onTertiaryFixedVariant: #553F5D;
$success: #B5CCBA;
$onSuccess: #213528;
$successContainer: #374B3E;
$onSuccessContainer: #D1E9D6;
$term0: #171B20;
$term1: #6777FF;
$term2: #B5ACD6;
$term3: #8D94E5;
$term4: #BCBBD5;
$term5: #7788F8;
$term6: #9CB0E6;
$term7: #FFFFFF;
$term8: #C9C8D2;
$term9: #6777FF;
$term10: #B5ACD6;
$term11: #8D94E5;
$term12: #BCBBD5;
$term13: #7788F8;
$term14: #9CB0E6;
$term15: #D6E3FD;
